/* Toàn cục */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    margin: 10px auto auto;
}

button {
    padding: 6px 10px;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

.bold {
    font-weight: 700;
}

:root {
    --light-color: #fff;
    --primary-color: #d8d8d8;
    --dark--color: #222;
}

/* Nav bar */

#nav-bar {
    background-color: var(--light-color);
    box-shadow: inset;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.menu-nav {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.menu-item {
    padding: 16px 20px;

}

.menu-item a {
    color: var(--dark--color);
    font-size: 16px;
    line-height: 32px;
}

.menu-item:hover {
    background-color: #ede5e5;
}

.menu-item:nth-last-child(4) {
    margin-left: auto;
}

.menu-item-title img {
    max-width: 32px;
}

/* Thông tin sản phẩm đã mua */
.bills {
    max-width: 1000px;
    border: 1px solid #ddd;
    box-shadow:  2px 2px 4px #ddd;
    padding: 20px;
    margin: auto;
    font-size: 14px; 
}

#bills-title {
}

/* Item bills */

.item-bills {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 6px 0;
    flex-direction: row;
    align-items: center;
}

.bills-code, 
.bills-customer-name, 
.bills-date, 
.bills-No, 
.bills-quantity, 
.bills-price, 
.bills-action {
    flex: 1;
}

.bills-code-detail {
    font-size: 12px;
    color: blue;
}

.bills-action i {
    color: #ed300e;
}




.support-buy {
    margin-top: 10px;
}

.support-buy__btn-back {
    background-color: #fff;
    border: 2px solid #f37761;
    color: #f37761;
}

.support-buy__btn-back:hover {
    border: 2px solid #ed300e;
    color: #ed300e;
}